/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 mars 2016, 11:33:34
    Author     : Clem
*/

header {
    background-color: orange;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    height: 50px;
    text-align: center;
}

header .titre {
    float: left;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 0px;
}

header #enregistrement {
    float: right;
    padding-right: 40px;
    padding-top: 8px;
    text-align: center;
}

header #connexion {
    width: 800px;
    padding-top: 8px;
    float: left;
    padding-left: 70px;
}

body {
    margin: 0px;
}

.bouton {
    border-radius: 12px;
    background-color: #F44336;
    border: none;
    padding: 5px 25px;
    margin-left: 3px;
    cursor: pointer;
}

.annonce {
    border: 2px solid #FFE0B2;
    background-color: #FFCC80;
    margin-bottom: 5px;
}

#formMail {
    margin-left: 10px;
    margin-top: 5px;
}

#labelMail {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.menu {
    border : 3px solid #FFE0B2;
    text-align: center;
}

a:link { 
    text-decoration:none;
}

a {
    color: black;
}

#menu {
    margin-bottom: 10px;
}

.cModal {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    pointer-events: none;
}
.cModal:target {
    opacity:1;
    pointer-events: auto;
}
.cModal > div {
    max-width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 8px 8px 8px 8px;
    border-radius: 2px;
    background: #fff;
}